.distill-site-nav {
  color: white;
  background-color: darkgreen;
  font-size: 25px;
  font-weight: 300;
}

<style type="text/css">
.distill-main-container {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}
</style>


.distill-site-nav a {
  color: inherit;
  text-decoration: blue;
}

.distill-site-nav a:hover {
  color: black;
}

.distill-site-header {
height: 60px;
}

.distill-site-footer {
All Rights Reserved Saldae Analytics
}

@media print {
  .distill-site-nav {
    display: none;
  }
}


<style>
.distill-blue-outline {
   background-color: #9ecff7;
   padding:10px;
   display: inline-block;
}
</style>
